target
node_modules
.DS_Store
.anycode
*copy*.ts
anycode/dist
anycode-base/dist
anycode-backend/dist/*
!anycode-backend/dist/.gitkeep
csharp-test-project

test.py
test-results
playwright-report

.zed
anycode-react/dist/Component.js
awesome.md
promo.md
promo_ru.md
.cargo-home/
.cargo-home-sparse/
.pnpm-store/v11/index.db
